<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Jellabo.Team_miniPj_Backend.users.UserMapper">

	<!-- 회원가입/로그인 공통 기능 시작 -->
	<select id="emailCheck" resultType="Integer">
		SELECT COUNT(*) 
		FROM users 
		WHERE email = #{email, jdbcType=VARCHAR};
	</select>
	<!-- 회원가입/로그인 공통 기능 끝 -->

	<!-- 회원가입 기능 시작 -->
	<insert id="registerProcess" parameterType="UserDTO">
		INSERT INTO users 
		VALUES(
			#{email, jdbcType=VARCHAR}, 
			#{password, jdbcType=VARCHAR}, 
			#{name, jdbcType=VARCHAR}, 
			#{nickname, jdbcType=VARCHAR}, 
			#{birthday, jdbcType=DATE}
		);
	</insert>
	<!-- 회원가입 기능 끝 -->

	<!-- 로그인 기능 시작 -->
	<select id="loginCheck" resultType="Integer">
		SELECT COUNT(*) 
		FROM users 
		WHERE email = #{email, jdbcType=VARCHAR} 
		AND password = #{password, jdbcType=VARCHAR};
	</select>

	<select id="loginProcess" resultType="UserDTO">
		SELECT email, nickname 
		FROM users
		WHERE email = #{email, jdbcType=VARCHAR} 
		AND password = #{password, jdbcType=VARCHAR};
	</select>
	<!-- 로그인 기능 끝 -->

</mapper>